/**********************Andro's changes**************************/
@font-face {
  font-family: "AvenirLTStd";
  src: url(./fonts/AvenirLTStd/AvenirLTStd-Medium.otf);
}
@font-face {
  font-family: "Bartender";
  src: url("fonts/Bartender/Bartender.ttf") format("truetype");
  font-style: normal;
  font-weight: 300;
}
@font-face {
  font-family: "RalewayB";
  src: url("fonts/raleway/Raleway-VariableFont_wght.ttf") format("truetype");
  font-style: normal;
  font-weight: 300;
}
@font-face {
  font-family: "FontsFree";
  src: url("fonts/FontsFree/FontsFree-Net-1579-AvenirLTStd-Medium.ttf") format("truetype");
  font-style: normal;
  font-weight: 300;
}
/*****************************/
:root {
  --font-principal: "Bartender";
}
html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  overflow-x: hidden;
  font-size: 16px;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  margin: 0;
}

html,
body {
  max-width: 100% !important;
  overflow-x: hidden !important;
}

#restaurant-location {
  border: 3px solid #b32e20;
  border-radius: 2% 2% 1.5% 1.5%;
  overflow: hidden;
  width: 65vw;
  height: 70vh;
  margin-top: 3rem;
}

#restaurant-location iframe {
  width: 100%;
  height: 100%;
}

#opening-hours {
  display: flex;
  flex-direction: column;
  min-height: 70vh;
  margin-top: 80px;
  line-height: 0%;
  width: 100vw;
  /* background: red; */
}
.display-none {
  display: none;
}
/**********************************************/
/* * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
} */
/* solo para ver el texto hasta que lo acomode */
/*Estilo para el header de todas las páginas */
header {
  background: rgba(233, 215, 177, 0.7);
  /* background: #e5d7b1ac; */
  position: fixed;
  width: 100%;
  height: 15vh;
  top: 0;
  left: 0;
  z-index: 1000;
}
.animated-line {
  background-image: linear-gradient(90deg, #eadeb9, #eadeb9, #eadeb9);
  cursor: pointer;
  background-repeat: no-repeat;
  background-size: 0% 0.2vh;
  background-position: left bottom;
  margin-top: 0.6vh;
  transition: background-size 600ms ease;
}
.animated-line:hover {
  background-size: 100% 0.2vh;
}
.btn-pidelo a {
  color: #fff;
  transition: all 0.8s ease-in-out;
}
a {
  cursor: pointer;
  text-decoration: none;
}
.btn-pidelo {
  font-family: var(--font-principal);
  background-color: #b52f22;
  color: #fff;
  border-radius: 45px 45px 45px 45px;
  padding: 6px 20px 3px 20px;
  font-size: 2.3vw;
  font-weight: 500;
  border: none;
  transition: all 0.8s ease-in-out;
}
.btn-pidelo i {
  transition: all 0.8s ease-in-out;
}
.btn-pidelo2 {
  font-family: var(--font-principal);
  color: #b52f22;
  background-color: #ebdcbc;
  border-radius: 20px;
  padding: 10px 10px 2px 10px;
  font-size: 3vw;
  font-weight: 500;
  border: none;
  transition: all 0.4s ease-in-out;
}
.btn-pidelo2:hover {
  box-shadow: 10px 10px rgba(0, 0, 0, 0.3);
}
.btn-pidelo2 a {
  color: #b52f22;
}
.btn-pidelo:hover {
  background-color: #f1e4c3;
  transition: all 0.8s ease-in-out;
}
.btn-pidelo:hover a,
.btn-pidelo:hover i {
  color: #b52f22;
}
.divtextual {
  padding-left: 4vw;
}
.btn-slider {
  display: flex;
  margin: 30px 10px;
}
.find-us {
  font-size: 1vw;
  font-family: var(--font-principal);
  font-weight: 200;
  text-align: right;
}
.find-us p {
  font-size: 2.56vw;
  text-align: right;
}
.imgdiv-menu img {
  height: auto;
  width: 40vw;
}
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: auto;
  /* max-width: 992px; */
  height: 15vh;
}
.nav-link {
  color: #8e412f;
  text-decoration: none;
}
#iconoHeader {
  margin-left: 30px;
  align-items: center;
  height: auto;
  width: 18vw;
  padding-bottom: 0vh;
}
.img-carta-principal {
  /* max-width: 250px; */
  position: relative;
  height: auto;
  width: 50vw;
  z-index: 0 !important;
}
#social-networks {
  background-image: url(img/Mesa\ de\ trabajo\ 17-100.jpg);
  padding-top: 4vh;
  padding-bottom: 4vh;
}
.studio {
  font-family: var(--font-principal);
  font-weight: 300;
  font-size: 3.5vw;
  padding: 16px;
  color: #160700;
  margin: 0;
}
.studio2 {
  font-family: var(--font-principal);
  font-weight: 300;
  font-size: 9vw;
  padding: 0 0 0 10vw;
  color: #ba4d3a;
  z-index: 100;
  margin: 10vh 0 0 0;
}
#contacto i {
  background-color: #cea675;
  border-radius: 50px;
  padding: 8px;
  margin: 5px;
}
#iconosub {
  display: flex;
  padding-bottom: 20px;
}
i.fa.fa-phone.icon.text,
i.fab.fa-instagram-square.text,
i.fab.fa-facebook.text {
  color: #e4be94;
}

.textosub {
  font-family: "Raleway";
  /* padding: 2px 10px 2px 10px; */
  font-size: 30px;
  color: #b32e20;
  font-weight: 200;
  line-height: 0.3;
}

.text-bold {
  font-weight: bold;
}

.textosub3 {
  font-family: "Raleway";
  /* padding: 2px 10px 2px 10px; */
  font-size: 18px;
  font-weight: 900;
  color: #b32e20;
}
.textosub2 {
  font-family: "FontsFree";
  color: #eadeb9;
  text-align: center;
  font-size: 2.3vw;
  font-weight: 500;
  line-height: 2.5vh;
  /* padding: 2px 10px 2px 10px; */
}
.enlaces {
  display: flex;
  text-align: center;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}
.atencion p {
  padding: 5px;
  text-align: center;
  font-size: 2.3vw;
}
.imgcalendario {
  display: block;
  width: 100%;
  background-image: url(img/rocotos.png);
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.calendario {
  height: auto;
  width: 15vw;
}
.horario {
  display: flex;
  width: 40vw;
  height: auto;
  margin: 0 auto;
}
.subtitulo {
  font-family: var(--font-principal);
  font-weight: 400;
  font-size: 5.8vw;
  padding-top: 10vh;
  /* padding-left: 20px; */
  color: #e4be94;
  text-shadow: 0 0 12px #000, 0 0 15px #daa439;
  text-align: center;
}
.nav-menu {
  font-family: var(--font-principal);
  /* position: static; */
  display: flex;
  justify-content: space-around;
  /* margin-right: 2rem; */
  padding-right: 2vw;
  list-style: none;
  color: #8e412f;
  align-items: center;
}
.nav-menu-item {
  font-size: 2.3vw;
  /* font-weight: 600; */
  margin: 5px 10px;
  line-height: 60px;
  text-shadow: 0 0 12px rgb(209, 209, 209), 0 0 15px #daa439;
  transition: all 1s ease-in-out;
}

.nav-menu-link {
  padding: 8px 10px;
  border-radius: 10px;
  transition: all 0.7s ease;
}
.nav-menu-link:hover,
.submenuDirector_items:hover {
  background-color: #f1e4c3;
}
.nav-toggle {
  color: #fff;
  background: none;
  border: none;
  font-size: 30px;
  padding: 0 20px;
  line-height: 50px;
  display: none;
}
#work-with-us {
  background-image: url("./img/trabajofondo.png");
  min-height: 100vh;
  padding-top: 15vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container-work-with-us {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.job1 img {
  width: 50vw;
}
.job2 img {
  width: 25vw;
}
.second-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.postulate {
  display: inline-block;
  text-align: center;
  margin-top: 2vh !important;
  padding: 1.5vh 3vw !important;
  transition: all 0.7s ease;
}
.postulate:hover {
  color: rgba(157, 78, 57, 0.98);
  background: #f0e4c3;
}

.postulate a{
  text-decoration: none;
  color: inherit;
  outline: none;
}

.font-text-small {
  text-align: center;
}
/*---------------Desde acá estoy agregando el estilo para el carrusel -------------------- */
#contenedorCarrusel,
#contenedorCarrusel2,
#contenedorCarrusel3,
.carruselcombos,
.carruselcombos2,
#contenedorCarrusel4 {
  display: flex;
  padding: auto;
  overflow: hidden;
}
#carousel {
  display: flex;
  flex-direction: row;
}
.carousel-container {
  display: flex;
  flex-direction: row;
}
.flechaIzquierda,
.flechaDerecha {
  position: absolute;
  border: none;
  background: rgb(255, 255, 255, 0.3);
  font-size: 40px;
  height: 20%;
  align-self: center;
  line-height: 40px;
  width: 30px;
  color: #000;
  cursor: pointer;
  z-index: 100px;
  transition: 0.2s ease all;
}
.flechaIzquierda {
  left: 0;
}
.flechaDerecha {
  right: 0;
}
.flechaIzquierda:hover,
.flechaDerecha:hover {
  background: rgba(255, 255, 255, 0.7);
  transition: 0.5s;
}
#contenedorCarrusel,
#contenedorCarrusel2,
#contenedorCarrusel3 {
  height: 100%;
  width: 100%;
  padding: 10px 0;
}
#contenedorCarrusel4 {
  height: 100%;
  width: 100%;
  padding: 10px 0;
}
.carruselcombos {
  display: flex;
  flex-wrap: nowrap;
  scroll-behavior: smooth;
}
.carruselcombos2 {
  display: flex;
  flex-wrap: nowrap;
  scroll-behavior: smooth;
  width: 100%;
}
/*---------------Hasta acá estoy agregando el estilo para el carrusel -------------------- */
.secciones {
  display: inline-block;
}
/*Estilo para el footer de todas las páginas */
footer {
  background-image: url(./img/Mesa\ de\ trabajo\ 1-100.jpg);
  font-family: "FontsFree";
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  flex-direction: column;
}
footer p {
  color: #8e412f;
  font-weight: 100;
}
.liberte-link {
  font-weight: bold;
  color: #8e412f;
}
/* Estilo para la cabecera de la Página Principal */
.cabecera {
  margin-top: 0px;
  margin-bottom: 0px;
  /* display: inline-flex; */
  /* background-image: url(img/fondo-primero.jpg); */

  /************************************/
  /* min-height: 600px; */
  color: #fff;
  width: 100vw;
  /* flex-direction: column;
  align-items: center;
  align-content: center;
  flex-wrap: wrap; */
}
.heroe-image {
  background-image: url(img/Mesa\ de\ trabajo\ 32.jpg);
  /* justify-content: center; */
  /* background-size: 100vw 600px; */
  /***********Andro's Changes**********/
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-height: 100vh;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
  width: 100%;
}

#pollos {
  margin-top: 0px;
  margin-bottom: 0px;
  display: flex;
  background-image: url(img/fondo-pollos.jpg);
  justify-content: center;
  background-size: 1600px 880px;
  min-height: 500px;
  color: #fff;
  width: 100%;
  flex-direction: column;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
  padding: 40px 10px 20px 10px;
}
#sandw {
  margin-top: 0px;
  margin-bottom: 0px;
  display: flex;
  background-image: url(img/fondo-sandw.jpg);
  justify-content: center;
  background-size: 1600px 900px;
  min-height: 500px;
  color: #fff;
  width: 100%;
  flex-direction: column;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
  padding: 40px 10px;
}
#especiales {
  /* margin-top: 0px;
  margin-bottom: 0px; */
  display: flex;
  background-image: url(img/fondo-especiales.jpg);
  justify-content: center;
  background-size: cover;
  /* min-height: 500px; */
  color: #fff;
  width: 100%;
  flex-direction: column;
  align-content: center;
  /* flex-wrap: wrap; */
  padding: 40px 50px;
}
#cartanew {
  background-image: url(img/cartanew.jpg);
  background-size: contain;
  justify-content: center;
  padding: 30px 30px;
  align-items: center;
  align-content: center;
}

#cartanew1 {
  background-image: url(img/cartanew1.jpg);
  background-size: 1600px 800px;
  justify-content: center;
  padding: 40px 30px;
  display: flex;
  align-items: center;
  align-content: center;
}

#carta1 {
  background-image: url(img/Mesa\ de\ trabajo\ 3-100.jpg);
  background-size: contain;
  justify-content: center;
  /* padding: 0px 30px; */
  align-items: center;
  align-content: center;
  margin: 0 auto;
  padding: 0;
}
#ubicacion {
  background-image: url(img/background-test.jpg);
  justify-content: center;
  /* padding: 30px 30px; */
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  padding-bottom: 2rem;
}
#contacto {
  background: #b12d20;
  justify-content: center;
  padding: 30px 30px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: stretch;
}
.contactos {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  padding: 5px;
}

#promociones {
  margin-top: 0px;
  margin-bottom: 0px;
  display: flex;
  background-color: #160700;
  padding: 30px 0px 0px 0px;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  align-content: center;
  min-height: 800px;
}
.seccarta {
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: center;
  justify-content: space-around;
  padding-bottom: 30px;
  max-width: 100%;
}
.seccarta-principal {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding-bottom: 30px;
  max-width: 100%;
}
.spicy-img {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  height: 20 vh;
}
.spicy-img img {
  height: auto;
  display: flex;
}
.rocoto-img,
.aji-img {
  display: flex;
}
.rocoto-img img {
  width: 17vw;
  align-self: flex-end;
}
.aji-img img {
  width: 14vw;
  align-self: flex-start;
}
.seccarta2 {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-end;
  width: 100%;
}
.seccarta3 {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-end;
  width: 100%;
}
.empty {
  width: 30%;
  height: 50px;
}
.titulossec {
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.textdebil {
  font-family: "Montserrat", sans-serif;
  text-align: center;
  width: 60%;
  font-size: 2vw;
  color: #cea675;
}
.textdebil2 {
  font-family: "Montserrat", sans-serif;
  text-align: center;
  width: 22vw;
  font-size: 1.6vw;
  color: #aa2f19;
  padding-top: 5vh;
}
.titulossec2 {
  width: 100%;
}
.titulossec2 img {
  height: auto;
  width: 50vw;
  /* margin-left: 30vw; */
}

.combos {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  align-content: center;
  justify-content: space-around;
}
.contenedor-combo {
  background-image: radial-gradient(
    circle at 47.32% 19.35%,
    #dc7100 0,
    #d86000 12.5%,
    #d14d00 25%,
    #c53800 37.5%,
    #b61f08 50%,
    #a50010 62.5%,
    #960015 75%,
    #870018 87.5%,
    #7b001b 100%
  );
  margin: 20px 40px;
  border-radius: 50px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  padding-bottom: 50px;
  padding-top: 0px;
  max-width: 20%;
}
.contenedor-combo2 {
  background-image: radial-gradient(
    circle at 37.95% 67.21%,
    #dc6f00 0,
    #d85e00 12.5%,
    #d04c00 25%,
    #c53700 37.5%,
    #b61f08 50%,
    #a60010 62.5%,
    #970015 75%,
    #890018 87.5%,
    #7c001b 100%
  );
  margin: 20px 40px;
  border-radius: 50px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  padding-bottom: 30px;
  padding-top: 40px;
  width: 25%;
}
.contenedor-combo3 {
  background-image: radial-gradient(
    circle at 47.32% 19.35%,
    #dc7100 0,
    #d86000 12.5%,
    #d14d00 25%,
    #c53800 37.5%,
    #b61f08 50%,
    #a50010 62.5%,
    #960015 75%,
    #870018 87.5%,
    #7b001b 100%
  );
  margin: 20px 47px;
  border-radius: 50px;
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  padding-bottom: 50px;
  padding-top: 40px;
  width: 25%;
}
.contenedor-combo4 {
  background-image: radial-gradient(
    circle at 37.95% 67.21%,
    #dc6f00 0,
    #d85e00 12.5%,
    #d04c00 25%,
    #c53700 37.5%,
    #b61f08 50%,
    #a60010 62.5%,
    #970015 75%,
    #890018 87.5%,
    #7c001b 100%
  );
  margin: 20px 45px;
  border-radius: 50px;
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  padding-bottom: 20px;
  padding-top: 40px;
  width: 25%;
}
.contenedor-combo5 {
  background-color: #e4be94;
  margin: 20px 6vw;
  border-radius: 10px;
  /*padding-left: 20px;
  padding-right: 20px; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  /* padding-bottom: 40px; */
  /* padding-top: 0px; */
  height: auto;
  min-height: 70vh;
  width: 25vw;
  /* height: max-content; */
  overflow-y: hidden;
}
.contenedor-combo6 {
  background-image: radial-gradient(
    circle at 37.95% 67.21%,
    #dc6f00 0,
    #d85e00 12.5%,
    #d04c00 25%,
    #c53700 37.5%,
    #b61f08 50%,
    #a60010 62.5%,
    #970015 75%,
    #890018 87.5%,
    #7c001b 100%
  );
  margin: 20px 35px;
  border-radius: 50px;
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  padding-bottom: 60px;
  padding-top: 70px;
  width: 25%;
}
.imgcombo {
  margin-top: 10px;
  height: auto;
  width: 8vw;
}
.imgcombo2 {
  width: 25vw;
  height: auto;
}
.imgcombo3 {
  margin-top: 20px;
  margin-bottom: -30%;
}
.imgcombo4 {
  margin-top: 60px;
  margin-bottom: -40%;
}
/*css para los textos de los combos*/
.textos {
  font-family: "Trading post NF";
  color: #aa2f19;
  margin: 10px;
  font-weight: 300;
  text-align: center;
  font-size: 24px;
}
.textos1 {
  font-family: "Trading post NF";
  color: #aa2f19;
  margin: 10px;
  font-weight: 300;
  text-align: center;
  font-size: 28px;
}
.precios {
  font-family: "Trading post NF";
  color: #f7eadf;
  margin: 15px 5px;
  margin-bottom: 30px;
  display: flex;
  text-align: right;
  font-weight: 500;
  font-size: 27px;
}

.div_slider {
  width: 50%;
  display: flex;
  align-content: center;
  align-items: flex-start;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
}

.footercontent {
  padding: 30px 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
}

.copy {
  font-family: "Raleway";
  font-size: 14px;
}

.foot {
  background-color: #262525;
  width: 100vw;
  display: flex;
  justify-content: center;
  padding: 5px;
}
.foot a {
  color: #fff;
}
.imgcarta {
  /* max-width: 250px; */
  height: auto;
  width: 30vw;
  z-index: 0 !important;
}
.fonttext {
  font-family: var(--font-principal);
  /* font-weight: 800; */
  font-size: 4vw;
  text-align: center;
  z-index: 2 !important;
  margin: 25px auto;
}
.font-text-small {
  font-family: var(--font-principal);
  z-index: 2 !important;
  margin: 25px auto;
  font-size: 2.7vw;
}
.plattext {
  z-index: 100 !important;
  background-color: rgba(157, 78, 57, 0.98);
  color: #f0e4c3;
  font-weight: 300;
  border-radius: 25px;
  padding: 1.5vh 3vw;
  margin: -10px 30px 30px 30px;
  line-height: 0;
}
.plattext-principal {
  position: relative;
  z-index: 100 !important;
  left: 15%;
  width: 30vw;
  background-color: rgba(157, 78, 57, 0.98);
  color: #f0e4c3;
  border-radius: 25px;
  position: 5px 10px;
  padding: 3vh 3vw;
  margin: -20% 30px 30px 30px;
  line-height: 0;
}
.small-word {
  font-family: var(--font-principal);
  font-size: 2vw;
  text-align: center;
  margin: 5vh auto 10px auto;
  color: #ddb487;
}
.comida {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.imgubi {
  width: 600px;
  height: 600px;
}
.textocarta {
  display: flex;
  flex-direction: column;
  margin-bottom: 3rem;
  /* align-items: flex-start; */
}
.textocarta-principal {
  display: flex;
  flex-direction: column;
}
.textocarta1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.textocarta1-msr img {
  height: auto;
  width: 50vw;
}
.imgdiv-principal {
  position: relative;
}
.site-links {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
/* .site-link {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
} */
.site-link a {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
.site-link a i {
  padding-right: 1vw;
  padding-bottom: 0.5vh;
}
.animated-line-row {
  background-image: linear-gradient(90deg, #eadeb9, #eadeb9, #eadeb9);
  cursor: pointer;
  background-repeat: no-repeat;
  background-size: 0% 0.2vh;
  background-position: left bottom;
  transition: background-size 600ms ease;
}
.animated-line-row:hover {
  background-size: 100% 0.2vh;
}
#contact-section {
  background-image: url(img/Mesa\ de\ trabajo\ 48-100.jpg);

  max-width: 100vw;
}
.contact-container {
  padding: 20px 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100vw;
}
.tradi-logo img {
  height: auto;
  width: 25vw;
}
.tradi-saying-container {
  padding: 0 5vw;
}
.tradi-saying {
  font-family: var(--font-principal);
  color: #eadeb9;
  font-size: 3.5vw;
}
.first-column-contact {
  display: flex;
  flex-direction: column;
}
.second-column-contact {
  display: flex;
  flex-direction: column;
}
.important-links p {
  font-family: var(--font-principal);
  color: #eadeb9;
  font-size: 3.5vw;
  text-align: center;
}
.tradi-list ul {
  padding-left: 0;
  padding: 0px;
  text-align: center;
}
.tradi-list ul li {
  margin-top: 2.5vh;
}
.tradi-list li a {
  font-family: "FontsFree";
  color: #eadeb9;
  text-align: center;
  font-size: 2vw;
  font-weight: 500;
  line-height: 2.5vh;
}
.third-column-contact {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.contact-us-img img {
  height: auto;
  width: 23vw;
}
.contact-us-img {
  margin-top: -5vh;
}
.telephones {
  display: flex;
  flex-direction: column;
  margin-top: -10vh;
}
.phones-column a {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.phones-column p {
  font-family: "Arial";
  text-align: center;
  color: #eadeb9;
  padding-left: 2vw;
  font-size: 2vw;
  line-height: 1vh;
  font-weight: 100;
}
.phones-column i {
  align-self: center;
  padding-top: 1vh;
  font-size: 3vw;
}

@media (max-width: 768px) {
  /*Estilo para el header de todas las páginas en dispositivos móviles*/
  /* body {
    padding-top: 50px;
  } */
  #slider li .content_slider {
    padding: 0px 0px;
    width: 100vw;
  }
  .imgdiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 20px;
  }
  .textocarta1 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 20px 40px 30px 0px;
  }
  .textocarta {
    padding-top: 30px;
  }
  .imgubi {
    width: 300px;
    height: 300px;
  }
  /* header {
    height: 10vh;
    max-width: 100vw;
  } */
  #especiales {
    padding: 40px 10px;
  }
  .back-principal {
    padding-left: 10px;
    padding-top: 30px;
  }
  .imgmobile {
    width: 280px;
    height: 80px;
  }
  /* .cabecera {
    /* margin-top: -50px; 
    display: flex;
    max-width: 100vw;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: center;
  } */
  .studio {
    font-size: 40px;
  }
  .imgcombo2 {
    width: 200px;
    height: 80px;
  }
  .contenedor-combo,
  .contenedor-combo2 {
    margin: 20px 30px 20px 35px;
  }
  .contenedor-combo3,
  .contenedor-combo4 {
    margin: 20px 28px;
    padding: 30px 40px;
  }
  /* .contenedor-combo5 {
    margin: 20px 16px;
    padding: 30px 30px;
  } */
  .seccarta {
    display: flex;
    flex-direction: column;
    align-content: space-around;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
  }
  .seccarta2 {
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    align-items: center;
    justify-content: center;
  }
  .seccarta3 {
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
    justify-content: flex-start;
  }
  #ubicacion {
    display: flex;
    flex-direction: column;
  }
  .imgcarta {
    height: auto;
    width: 80vw;
    z-index: 0 !important;
  }
  .div_slider {
    display: block;
  }
  /* .titulossec2 {
    max-width: 300px;
    max-height: 100px;
  } */

  /* #iconoHeader {
    height: 40px;
    width: auto;
  } */
  #contenedorCarrusel,
  #contenedorCarrusel2,
  #contenedorCarrusel3 {
    height: 100%;
    width: 100%;
    padding: 20px 0;
    margin-left: 0;
  }
  .carruselcombos {
    margin-left: 5vw;
  }
  .nav-menu {
    flex-direction: column;
    align-items: center;
    background-color: #e4be94;
    position: fixed;
    top: 80px;
    width: 50vw;
    padding: 20px 0%;
    /* height: calc(35% - 60px); */
    overflow-y: visible;
    left: 100%;
    transition: left 0.5s;
  }
  .nav-menu-item {
    line-height: 30px;
  }
  .nav-menu-link:hover {
    background: #ab2016;
    color: #fff;
  }
  .nav-toggle {
    display: block;
    cursor: pointer;
  }
  .nav-menu_visible {
    height: auto;
    left: 50%;
  }
  /*Estilo para el footer de todas las páginas en dispositivos móviles*/

  footer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .footercontent {
    display: flex;
    flex-direction: column;
    padding: 30px 0px;
    justify-content: center;
    align-items: center;
    align-content: center;
  }

  /* .content_slider h2 {
    font-size: 15pt !important;
  } */
  /* .content_slider p {
    font-size: 12pt !important;
  } */
  #container-slider .arrowPrev,
  #container-slider .arrowNext {
    font-size: 20pt;
  }
  #container-slider .arrowPrev {
    left: 15px;
  }
  #container-slider .arrowNext {
    right: 15px !important;
  }
  #slider {
    height: 400px;
    min-height: 400px;
  }
  #slider li .content_slider {
    padding: 10px 35px;
  }
  .btnSlider {
    padding: 10px 30px;
    font-size: 10pt;
  }
  #s1 {
    background-image: url("./img/s\ \(1\).jpg") !important;
    max-width: 375px;
    background-size: 375px 800px;
  }
  #s2 {
    background-image: url("./img/s\ \(2\).jpg") !important;
    max-width: 375px;
    background-size: 375px 800px;
  }
  #s3 {
    background-image: url("./img/s\ \(3\).jpg") !important;
    max-width: 375px;
    background-size: 375px 800px;
  }
  #s4 {
    background-image: url("./img/s\ \(4\).jpg") !important;
    max-width: 375px;
    background-size: 375px 800px;
  }
  #s5 {
    background-image: url("./img/s\ \(5\).jpg") !important;
    max-width: 375px;
    background-size: 375px 800px;
  }
  #ubicacion {
    padding-left: 10px;
  }
  #iconosub {
    display: flex;
    padding-top: 20px;
    flex-direction: column;
  }
  #contacto {
    padding: 30px 10px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
  }
}

/* Add Animation */
@-webkit-keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}
@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

/* Desde acá comienza el estilo para los siders*/
.buttonslide {
  margin-bottom: 60px;
}
#container-slider {
  position: relative;
  display: block;
  width: 100%;
}
#slider {
  position: relative;
  display: block;
  width: 100%;
  height: 95vh;
  min-height: 800px;
}
#slider li {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: absolute !important;
  top: 0 !important;
  left: 0 !important;
  width: 100%;
  height: 100%;
  display: block;
  -webkit-transition: opacity 1s;
  -moz-transition: opacity 1s;
  -ms-transition: opacity 1s;
  -o-transition: opacity 1s;
  transition: opacity 1s;
  z-index: -1;
  opacity: 0;
}
#container-slider .arrowPrev,
#container-slider .arrowNext {
  font-size: 30pt;
  color: rgba(204, 204, 204, 0.65);
  cursor: pointer;
  position: absolute;
  top: 50%;
  left: 50px;
  z-index: 2;
}
#container-slider .arrowNext {
  left: initial;
  right: 50px !important;
}
.content_slider {
  padding: 15px 30px;
  color: #fff;
  width: 100%;
  min-height: 100%;
}
.content_slider div {
  text-align: center;
}
/* .content_slider h2 {
  font-family: "arial";
  font-size: 30pt;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-bottom: 20px;
} */
.content_slider p {
  font-size: 15pt;
  font-family: "arial";
  color: #fff;
  margin-bottom: 20px;
}
#slider li .content_slider {
  padding: 10px 125px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}
.content_slider {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: center;
  align-items: center;
}
.btnSlider {
  color: #fff;
  font-size: 15pt;
  font-family: "arial";
  letter-spacing: 1px;
  padding: 10px 50px;
  border: 1px solid #ccc;
  background: rgba(13, 13, 13, 0.55);
  border-radius: 31px;
  text-decoration: none;
  transition: 0.5s all;
}
.btnSlider:hover {
  background: #111;
  border: 1px solid #111;
}
.listslider {
  position: absolute;
  display: none;
  /* display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex; */
  justify-content: space-between;
  align-items: center;
  left: 50%;
  bottom: 5%;
  list-style: none;
  z-index: 2;
  transform: translateX(-50%);
}
.listslider li {
  border-radius: 50%;
  width: 10px;
  height: 10px;
  cursor: pointer;
  margin: 0 5px;
}
.listslider li a {
  background: #ccc;
  border-radius: 50%;
  width: 100%;
  height: 100%;
  display: block;
}
.item-select-slid {
  background: #fff !important;
}

/* Theme customization starts here
  -------------------------------------------------------------- */
@font-face {
  font-family: "Trading post NF";
  src: url("./fonts/trading/TradingPostNf-0KYo.ttf") format("truetype"),
    url("./fonts/trading/Tradingpostnf-eVvg.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Raleway";
  src: url("./fonts/raleway/Raleway-VariableFont_wght.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

/*************Media Queries(movil)*************/

@media screen and (max-width: 1023px) {
  #restaurant-location {
    width: 80vw;
    height: 65vh;
  }
  #opening-hours {
    width: auto;
    min-height: 50vh;
  }
  #ubicacion {
    background-image: url(img/rocotos.png), url(img/background-test.jpg);
    background-size: 200%;
  }
  .atencion p {
    padding: 5px;
    text-align: center;
    font-size: 5.2vw;
  }
  .cabecera {
    background-position: 37% 30%;
    height: 100vh;
    height: -moz-available;
    height: -webkit-fill-available;
    height: fill-available;
  }
  #cartanew {
    background-image: url(img/cartanew.jpg);
    background-size: cover;
    background-position: 35% 50%;
    justify-content: center;
    padding: 30px 30px;
    align-items: center;
    align-content: center;
  }
  .imgcalendario {
    background-image: none;
  }
  .imgcalendario .horario {
    margin-top: 0 auto;
    height: auto;
    width: 50vw;
  }
  .location-line img {
    width: 60vw;
  }
  .find-us p {
    text-align: center;
    font-size: 5vw;
  }
  .imgcarta {
    /* max-width: 250px; */
    height: auto;
    width: 65vw;
    z-index: 0 !important;
  }
  .imgcarta-msr {
    height: auto;
    width: 80vw;
  }
  .imgmobile {
    height: auto;
    width: 80vw;
  }
  .img-carta-principal {
    /* max-width: 250px; */
    height: auto;
    width: 82vw;
    z-index: 0 !important;
    margin: -30vh auto 0 auto;
  }
  .img-location {
    height: auto;
    width: 50vw;
  }
  .studio2 {
    font-family: var(--font-principal);
    font-weight: 300;
    font-size: 7rem;
    padding: 20px;
    z-index: 100;
  }
  .spicy-img img {
    z-index: 0 !important;
    height: auto;
    width: 40vw;
  }
  .calendario {
    height: auto;
    width: 40vw;
  }
  .horario {
    margin: 0 auto;
    width: 250px;
    height: 80px;
  }
  /* .plattext {
    z-index: 100 !important;
    background-color: #eadeb9;
    color: #ab2016;
    font-weight: 300;
    border-radius: 25px;
    padding: 1px 10px;
    margin: -10px 30px 30px 30px;
    line-height: 0;
    font-size: 10vw;
  } */
  .font-text-small {
    font-family: var(--font-principal);
    z-index: 2 !important;
    margin: 15px auto;
    font-size: 5vw;
  }
  .nav-menu-item {
    display: block;
    width: 100%;
    text-align: center;
    font-size: 6vw;
    /* font-weight: 600; */
    margin: 0 auto;
    line-height: 60px;
    text-shadow: 0 0 12px rgb(209, 209, 209), 0 0 15px #daa439;
  }
  .nav-menu-item:hover {
    background-color: #8e412f;
  }
  .btn-pidelo {
    display: relative;
    border-radius: 45px 45px 45px 45px;
    padding: 4px 20px;
    font-size: 6vw;
    font-weight: 500;
    text-align: center;
    border: none;
  }
  .nav-menu {
    margin: 1vh auto;
    padding: 0;
  }
  .btn-pidelo a {
    /* display: inline-block; */
    width: auto;
  }
  .nav-menu-link {
    display: inline-block;
    width: 100%;
  }
  .nav-menu li:hover a {
    color: #8e412f;
  }
  .nav-menu-link:hover {
    background-color: transparent;
  }
  .seccarta-principal {
    display: flex;
    flex-direction: column;
  }

  .imgcarta {
    /* max-width: 250px; */
    height: auto;
    /* width: 60vw; */
    z-index: 0 !important;
  }
  .imgdiv-menu img {
    height: auto;
    width: 100vw;
  }
  .studio2 {
    font-size: 25vw;
  }
  .plattext-principal {
    left: 10%;
    width: 50vw;
    padding: 8px 30px;
    margin: -20% 30px 30px 30px;
  }
  .fonttext {
    /* font-weight: 800; */
    font-size: 5.5vw;
    margin: 15px auto;
  }
  .small-word {
    font-size: 4vw;
    line-height: 0;
  }
  .textocarta1-msr img {
    height: auto;
    width: 120vw;
    text-align: center;
    padding: 0 20vw 0 0;
  }
  /* .contenedor-combo5 {
    margin: 20px 35px;
    border-radius: 50px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 40px;
    padding-top: 0px;
    min-width: 21%;
    min-height: 451px;
    width: 65vw;
  } */
  .contenedor-combo5 p {
    /* font-size: 4.5vw; */
    text-align: center;
    max-width: 87%;
  }
  .contenedor-combo5 {
    /* margin: 20px 6vw; */
    /*padding-left: 20px;
    padding-right: 20px; */
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
    /* padding-bottom: 40px; */
    /* padding-top: 0px; */
    width: 70vw;
    height: 70vh;
    /* height: max-content; */
    overflow-y: hidden;
  }
  .textdebil2 {
    font-family: "Montserrat", sans-serif;
    text-align: center;
    font-size: 4vw;
    color: #aa2f19;
    padding-top: 5vh;
    width: 100%;
  }
  /* .contenedor-combo5 {
    margin: 20px 16px;
    padding: 30px 30px;
    width: 70vw;
  } */
  /*****Slider****/
  /* .combos .contenedor-combo5{
    display: none;
  }*/
  .combos .contenedor-combo5 {
    animation-name: fade;
    animation-duration: 1s;
    /* height: max-content; this fixes the vertical slider view */
  }
  .combos {
    justify-content: center;
    margin-right: 100vw;
  }

  .contact-container {
    flex-direction: column;
    justify-content: space-between;
    width: 100vw;
  }
  .tradi-logo img {
    height: auto;
    width: 70vw;
  }
  .tradi-saying-container {
    padding: 0 5vw;
  }
  .tradi-saying-container p {
    text-align: center;
    font-size: 10vw;
  }
  .important-links p {
    font-size: 12vw;
    text-align: center;
    font-weight: bold;
  }
  .tradi-list li a {
    text-align: center;
    font-size: 8vw;
    font-weight: 700;
    line-height: 2.5vh;
  }
  .contact-us-img img {
    height: auto;
    width: 70vw;
    margin: 1rem 0 0 4.5vw;
  }
  .phones-column p {
    color: #eadeb9;
    padding-left: 2vw;
    font-size: 7vw;
  }
  .phones-column i {
    align-self: center;
    padding-top: 1vh;
    font-size: 8vw;
  }
  #iconoHeader {
    /* margin-left: 30px; */
    height: auto;
    width: 40vw;
    margin-left: 0;
    /* padding-bottom: 3vh; */
  }
  .nav-toggle {
    padding-bottom: 2vh;
  }
  .subtitulo {
    font-size: 14vw;
    padding-top: 10vh;
    /* padding-left: 20px; */
    text-align: center;
  }
  .contact-us-img img {
    height: auto;
    width: 65vw;
  }
  .contact-us-img {
    margin-top: 0;
  }
  .telephones {
    margin-top: -0;
  }
  .btn-pidelo2 {
    border-radius: 20px;
    padding: 8px 8px 2px 8px;
    font-size: 7vw;
  }
  /* .btn-slider {
    display: flex;
    text-align: center;
    margin: 30px 10px;
  } */
  footer {
    text-align: center;
    font-size: 3.5vw;
  }
  .heroe-image {
    transform: scale(1.0224); /*Problem fixed to movil bottom bar*/
    justify-content: center;
    max-height: 100vh;
  }
  .hamburger {
    display: block;
    padding: 0;
    /* margin-bottom: 1.5vh; */
  }
  .hamburger-box {
    fill: #ccc;
  }
  #header-Master {
    height: 10vh;
    padding: 0 4vw 0 4vw;
  }
  .nav {
    height: 10vh;
    justify-content: space-between;
  }
  #carousel {
    justify-content: center;
  }
  .titulossec2 img {
    width: 90vw;
    padding-left: 15vw;
  }
  .social-networks-container {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .site-links {
    flex-direction: column;
    justify-content: center;
  }
  .site-link a {
    font-size: 5vw;
    line-height: 5vh;
  }
  .textdebil {
    font-size: 5vw;
  }
  .imgcombo {
    margin-top: 10px;
    height: auto;
    width: 30vw;
  }
  .imgcombo2 {
    width: 65vw;
    height: auto;
  }
  #work-with-us {
    display: flex;
    flex-direction: column;
    align-items: stretch;
  }
  .container-work-with-us {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  .job1 img {
    width: 90vw;
  }
  .job2 img {
    width: 50vw;
  }
  .postulate {
    display: inline-block;
    text-align: center;
    margin-top: 2vh !important;
    padding: 1vh 7vw !important;
    transition: all 0.7s ease;
  }
  .second-column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  .font-text-small {
    text-align: center;
  }
  @keyframes fade {
    from {
      opacity: 0.2;
    }
    to {
      opacity: 1;
    }
  }
}
